body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
text-align: center;
}

.row {
    background-color: rgb(199, 240, 181);
    border-style: double;
    border-color: black;
    width: 70%;
    margin-top: 50px;
    
}
.field {
    background-color: rgb(233, 248, 209);
    text-align: center;
    color: black;
    font-size: large;
   
}
.value {
    text-align: center;
    font-size: medium;
    border-style: groove;
    border-color: aliceblue;
}
.create {
    margin-top: 30px;
    width: fit-content;
    margin-left: 20px;
}
.input {
  font-size: large;

}
.delete {
    font-size: medium;
    background-color:rgb(233, 248, 209) ;
}
.back {
    background-color: rgb(233, 248, 209);
    text-decoration: blue;
    text-decoration: solid;
}